
/*Задаю основной цвет страницы*/
body{
	width: 100%;
	background-color: #202020;
}

/*Задаю стили для основного контейнера*/
.contaner{
	width: 75%;
	margin: 60px auto 20px;
	background-color: #333333;
	border-radius: 20px 20px 0 0;
}

/*Стили текста*/
.content{
  display: inline-block;
  text-align: center;
  padding:20px;
  color: #767676;
  font-size: 24px;
}

/*Стили контейнера с кнопками*/
.buttons{
	width: 100%;
   float: right;
   display: flex;
   justify-content: space-between;  
}

/*Стили кнопок*/
button{
	width: 100%;
   padding:15px;
   border:none;
   font-size: 20px;
   background-color: #333333;
   font-weight: bold;
}

/*Изменение цвета кнопки при наведении мыши*/
button:hover{
	background-color: #767676;
}

/*Стили окна истории изменений и его элементов*/
.changeStack{
	display: none;
	background-color: white;
	position: absolute;
	left: 20%;
	top:100px;
	z-index: 99999;
	text-align: center;	
	border-radius: 20px;
}

.changeItem{
	margin: 10px 10px 10px;
	font-size: 20px;

}
/*Изменение цвета строки при наведении*/
.changeItem:hover{
	background-color: #aaaaaa;
}

/*Контейнер с выбором цвета*/
.color_text{
	position: absolute;
	top:60px;
	left:10px;
	height: 200px;
	width: 12%;
	border-radius: 20px;
	background-color: #333333;
}

.color_text h4{
	color:#767676;
}

/*Стили текста*/
#color{
	display: inline;
}

/*Стили цветов*/
.red{
	width: 100%;
	height: 10%;
	background-color: red;
}



.blue{
	width: 100%;
	height: 10%;
	background-color: blue;
    color:blue;
}

.brown{
	width: 100%;
	height: 10%;
	background-color: brown;
    color:brown;
}

.green{
	width: 100%;
	height: 10%;
	background-color: green;
    color:green;
}

.yellow{
	width: 100%;
	height: 10%;
	background-color: yellow;
    color:yellow;
}

.black{
	width: 100%;
	height: 10%;
	background-color: black;
    color:black;
}
